services:
  backend:
    build: backend
    restart: always

    ports:
      - 3000:3000

  frontend:
    build: 
      context: frontend
      args:
        - VITE_REACT_APP_BACKEND_URL=http://localhost:3000

    restart: always

    ports:
      - 8080:80