#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

input {
	height: 50px;
}

button {
	height: 50px;
}

.square {
	display: inline;
	float: left;
	background: purple;
	width: 50px;
	height: 50px;
	/*font-size: 35px;*/
	font-size: 35px;
	font-family: "Custom Font";
}

.light {
	background: #D69161;
}

.dark {
	background: #513019;
}

.red {
	background: #990000;
}

.grey {
	background: #333;
}

.blacktext {
	color: black;
}

.whitetext {
	color: white;
}

.greytext {
	color: grey;
}

.pawn {
	margin-right: 0px;
}

.rook {
	margin-right: 7px;
}

.knight {
	margin-right: 9px;
}

.bishop {
	margin-right: 0px;
}

.queen {
	margin-right: 14px;
}

.king {
	margin-right: 9px;
}

.alignBottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.bottomElement {
	padding-left: 10px;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	height: auto;
}

@font-face {
	font-family: "Custom Font";
	src: url("/resources/3270NerdFont-Regular.ttf") format("truetype");
}